<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_name %><br>
    <%= f.text_field :project_name %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.collection_select(:comic, Comic.all, :id, :name_to_select, promt: true) %>
  </div>
  <div class="field">
    <%= f.label :project_type %><br>
    <%= f.text_field :project_type %>
  </div>
  <div class="field">
    <%= f.label :primary_location %><br>
    <%= f.select :primary_location, options_for_select(["USA (East)", "USA (West)", "USA (Central", "UK/Ireland", "DACH Region", "Europe (Other)", "Asia", "Africa"]) %>
  </div>
  <div class="field">
    <%= f.label :license_type %><br>
    <%= f.select :license_type, options_for_select(%w[Perpetual Baseline Support]) %>
  </div>
  <div class="field">
    <%= f.label :complexity_score %><br>
    <%= f.select :complexity_score, options_for_select(%w[Low Medium High]) %>
  </div>
  <div class="field">
    <%= f.label :project_description %><br>
    <%= f.text_field :project_description %>
  </div>
  <div class="field">
    <%= f.label :budget_days %><br>
    <%= f.number_field :budget_days %>
  </div>
  <div class="field">
    <%= f.label :expense_policy %><br>
    <%= f.text_field :expense_policy %>
  </div>
  <div class="field">
    <%= f.label :project_start %><br>
    <%= f.date_select :project_start %>
  </div>
  <div class="field">
    <%= f.label :project_end %><br>
    <%= f.date_select :project_end %>
  </div>
  <div class="field">
    <%= f.label :vendors %><br>
    <%= f.text_field :vendors %>
  </div>
  <div class="field">
    <%= f.label :products %><br>
    <%= f.text_field :products %>
  </div>
  <div class="field">
    <%= f.label :services %><br>
    <%= f.text_field :services %>
  </div>
  <div class="field">
    <%= f.label :estimated_server_count %><br>
    <%= f.number_field :estimated_server_count %>
  </div>
  <div class="field">
    <%= f.label :estimated_desktop_count %><br>
    <%= f.number_field :estimated_desktop_count %>
  </div>
  <div class="field">
    <%= f.label :account_manager %><br>
    <%= f.select :account_manager, options_for_select(["Ragnar Dantuma", "Ian Armstrong", "Barry Bergman", "Doug Ehrenreich", "Will Corcoran", "Pat Durkan", "Other"] ) %> 
  </div>
  <div class="field">
    <%= f.label :project_manager %><br>
    <%= f.select :project_manager, options_for_select(["Piaras MacDonnell", "Stuart Finnegan", "Jian Chen"]) %>
  </div>
  <div class="field">
    <%= f.label :technical_lead %><br>
    <%= f.select :technical_lead, options_for_select(["Sean Mee", "Dan Stuart-Kelly", "Alex Stibayev", "Mark Rispin", "Niall Maguire", "Glen Epperson"]) %>
  </div>
  <div class="field">
    <%= f.label :client_sponsor %><br>
    <%= f.text_field :client_sponsor %>
  </div>
  <div class="field">
    <%= f.label :client_project_manager %><br>
    <%= f.text_field :client_project_manager %>
  </div>
  <div class="field">
    <%= f.label :client_technical_lead %><br>
    <%= f.text_field :client_technical_lead %>
  </div>
  <div class="field">
    <%= f.label :project_status %><br>
    <%= f.select :project_status, options_for_select(["Red", "Orange", "Green"]) %>
  </div>
  <div class="field">
    <%= f.label :project_stage %><br>
    <%= f.select :project_stage, options_for_select(["Initiation", "Planning", "Scanning", "Reporting", "Close Off"]) %>
  </div>
  <div class="field">
    <%= f.label :progress_summary %><br>
    <%= f.text_area :progress_summary %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
