<!DOCTYPE html>
<html>
<%= render 'layouts/header' %>
<body>

<ul class="nav nav-pills">
  <li> <%= link_to "Clients", comics_path %> </li>
  <li> <%= link_to "Projects", projects_path %></li>
  <li><a href="#">Admin</a></li>
</ul>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
